:root {
  --primary-color-light: #929D9E;
  --primary-color-dark: #7F8688;

  --accent-color-one: #F3E367;
  --accent-color-two: #F36767;

  --text-color-on-primary: #FFFFFF;
  --text-color-on-accent: #000000;
}
